body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex
}

.lotusHeader{
  max-width: 6%;
  padding: 1rem;
}

nav {
  background-color: white;
}

nav a {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2em;
  font-family: copperplate;
  color: purple;
  border-bottom: 2px solid purple;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: darkorchid;
  border-bottom: 2px solid darkorchid;
}

nav a.active {
  color: white;
  background: darkorchid;
}

#home{
  font-family: copperplate;
}

.homePageChakraParagraph{
  padding: 4rem;
  font-family: copperplate;
}

.journal {
  font-family: copperplate;
}

.chakras {
  display: flex;
  justify-content: center;
}

.chakraTiles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    max-width: 800px;
}

.chakraTile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lemonchiffon;
  padding: 2rem;
  margin: 1rem;
  font-family: copperplate;
  border: 2px solid gold;
  flex-wrap: wrap;
}

.chakraTile img {
  width: 50%;
  border: 2px solid gold;
  flex-wrap: wrap;
}

.entry-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  padding: 2rem;
  background-color: lemonchiffon;
}

.entry-form form {
  display: flex;
  justify-content: center;
}

.entry-form input {
  margin-right: 2rem;
  flex: 1;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1em;
  border-bottom: 2px solid gold;
  transition: all 0.2s;
  width: 100%;
}

.entry-form button {
  width: 150px;
}

.button{
  background-color: lemonchiffon;
  padding: 0.25rem 1rem;
  border: 2px solid gold;
  font-family: inherit;
  font-size: 1em;
}

.journalEntries{
  padding: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.entry{
  border: 2px solid gold;
  margin-bottom: .5rem;
}

.journalPrompt{
  padding: .5rem;
  display: flex;
}

